.Nav-icon {
    &:hover .first {
        stop-color: #EC981A;
        transition: .3s;
    }

    &:hover .second {
        stop-color: #A96500;
    }

    &:hover .third {
        stop-color: #FFC701;
    }

    &:hover .fourth {
        stop-color: #EC981A;
    }
}

.Jack-icon {
    &:hover .first {
        stop-color: #EC981A;
        transition: .3s;
    }

    &:hover .second {
        stop-color: #A96500;
    }

    &:hover .third {
        stop-color: #FFC701;
    }

    &:hover .fourth {
        stop-color: #EC981A;
    }
}


.Mine-icon {
    &:hover .first {
        stop-color: #EC981A;
        transition: .3s;
    }

    &:hover .second {
        stop-color: #A96500;
    }

    &:hover .third {
        stop-color: #FFC701;
    }

    &:hover .fourth {
        stop-color: #EC981A;
    }
    &:hover .fives {
        stop-color: #A96500;
    }
    &:hover .sixes {
        stop-color: #EC981A;
    }
    &:hover .sevenes {
        stop-color: #A96500;
    }
    &:hover .eightes {
        stop-color: #EC981A;
    }
}

.Plinko-icon {
    &:hover .first {
        stop-color: #EC981A;
        transition: .3s;
    }

    &:hover .second {
        stop-color: #A96500;
    }

    &:hover .third {
        stop-color: #FFC701;
    }
}

.Wheel-icon {
    &:hover .first {
        stop-color: #EC981A;
        transition: .6s;
    }

    &:hover .second {
        stop-color: #A96500;
    }

    &:hover .third {
        stop-color: #FFC701;
    }

    &:hover .fourth {
        stop-color: #EC981A;
    }
    &:hover .fives {
        stop-color: #A96500;
    }
    &:hover .sixes {
        stop-color: #EC981A;
    }
    &:hover .sevenes {
        stop-color: #A96500;
    }
    &:hover .eightes {
        stop-color: #EC981A;
    }
}

.Upg-icon {
    &:hover .first {
        stop-color: #EC981A;
        transition: .3s;
    }

    &:hover .second {
        stop-color: #A96500;
    }

    &:hover .third {
        stop-color: #FFC701;
    }
}

