.Home__header-img {
    width: 160px;
}

.Home__slider {
    width: 100%;
    max-width: calc((100vw - 1036px) * 1.6);
}

.Home__game-link {
    overflow: hidden;
    min-width: 250px;
    width: 100%;
}

.Home__game-link img {
    transform: scale(1);
    transition: all .3s linear;
}

.Home__game-link:hover img {
    transform: scale(1.1);
    transition: all .3s linear;
}